.card-body {
    background-color: yellow;
    size: 200 160;
}

.menu-center {
    size: 50 50;
}

.menu-item01 {
    size: 36 36;
}

.menu-item02 {
    size: 36 36;
}

.menu-item03 {
    size: 36 36;
}

.menu-item04 {
    size: 36 36;
}
